<?xml version="1.0"?>
<config>
	<modules>
		<Mamoc_UnCancel>
			<version>1.0.0</version>
		</Mamoc_UnCancel>
	</modules>

	<global>

		<blocks>
			<mmc_uncancel>
				<class>Mamoc_UnCancel_Block</class>
			</mmc_uncancel>
		</blocks>

		<helpers>
			<mmc_uncancel>
				<class>Mamoc_UnCancel_Helper</class>
			</mmc_uncancel>
		</helpers>

		<models>
			<mmc_uncancel>
				<class>Mamoc_UnCancel_Model</class>
			</mmc_uncancel>
		</models>

		<events>
	      <adminhtml_widget_container_html_before>
	        <observers>
	          <mmc_addbutton_uncancel>
	            <type>model</type>
	            <class>mmc_uncancel/observer</class>
	            <method>addbutton</method>
	          </mmc_addbutton_uncancel>
	        </observers>
	      </adminhtml_widget_container_html_before>

	</global>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<mmc_uncancel after="Mage_Adminhtml">Mamoc_UnCancel</mmc_uncancel>
					</modules>
	            </args>
         	</adminhtml>
        </routers>
	</admin>

</config>
